{% if is_granted(app.user.roles, buttonGroup.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if multi_start_with(app.request.attributes.get('_route'), buttonGroup.pages ?? []) %}
        {% for button in buttonGroup %}
            {% if is_granted(button.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                {# WRAPPING <A> WITH <SPAN> WHEN USING TOOLTIPS AND TOGGLES TOGETHER #}
                {% if button.toggle is defined and button.toggle and button.tooltip is defined and button.tooltip %}
                    <span style="display: inline-block;"
                    data-toggle="tooltip" data-placement="top"
                    data-original-title="{{ button.tooltip }}"
                    >
                {% endif %}
                <a
                {% if button.route is defined and button.route %}
                    {# WHEN MODAL REPLACE HREF WITH DATA-PATH ATTRIBUTE #}
                    {% if button.toggle is defined and button.toggle == 'modal' %}{% set dataHref = 'data-path' %}{% endif %}
                    {# ID AND SLUG HAVE AUTO CALLBACK #}
                    {% if button.callback is defined and button.callback %}
                        {{ dataHref ?? 'href' }}="{{ path(button.route, { 'callback': app.request.uri|callback }) }}"
                    {% elseif button.id is defined and button.id %}
                        {{ dataHref ?? 'href' }}="{{ path(button.route, { 'id': button.id, 'callback': app.request.uri|callback }) }}"
                    {% elseif button.slug is defined and button.slug %}
                        {{ dataHref ?? 'href' }}="{{ path(button.route, { 'slug': button.parameter.slug, 'callback': app.request.uri|callback }) }}"
                    {% else %}
                        {{ dataHref ?? 'href' }}="{{ path(button.route) }}"
                    {% endif %}
                {% endif %}
                class="{{ button.class ?? 'btn btn-primary' }}"
                {# TOOLTIPS AND TOGGLES DO NOT WORK TOGETHER #}
                {% if button.toggle is defined and button.toggle %}
                    data-toggle="{{ button.toggle }}"
                    {% if button.target is defined and button.target %}
                        data-target="{{ button.target }}"
                    {% endif %}
                {% elseif button.tooltip is defined and button.tooltip %}
                    data-toggle="tooltip" data-placement="top"
                    data-original-title="{{ button.tooltip }}"
                {% endif %}
                role="button"
                >
                {% if button.icon is defined and button.icon %}
                    <span class="{{ button.icon }}"></span>
                {% endif %}
                {% if button.label is defined and button.label %}
                    <span{% if button.icon is defined and button.icon %} class="hidden-xs"{% endif %}>{{ button.label|trans }}</span>
                {% endif %}
                </a>
                {% if button.toggle is defined and button.toggle and button.tooltip is defined and button.tooltip %}
                    </span>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if buttonGroup.buttons is defined and buttonGroup.buttons %}
            <div class="{{ buttonGroup.class ?? 'btn-group' }}" role="group">
                {% for button in buttonGroup.buttons %}
                    {% if is_granted(button.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                        {# WRAPPING <A> WITH <SPAN> WHEN USING TOOLTIPS AND TOGGLES TOGETHER #}
                        {% if button.toggle is defined and button.toggle and button.tooltip is defined and button.tooltip %}
                            <span style="display: inline-block;"
                            data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ button.tooltip }}"
                            >
                        {% endif %}
                        <a
                        {% if button.route is defined and button.route %}
                            {# WHEN MODAL REPLACE HREF WITH DATA-PATH ATTRIBUTE #}
                            {% if button.toggle is defined and button.toggle == 'modal' %}{% set dataHref = 'data-path' %}{% endif %}
                            {# ID AND SLUG HAVE AUTO CALLBACK #}
                            {% if button.callback is defined and button.callback %}
                                {{ dataHref ?? 'href' }}="{{ path(button.route, { 'callback': app.request.uri|callback }) }}"
                            {% elseif button.id is defined and button.id %}
                                {{ dataHref ?? 'href' }}="{{ path(button.route, { 'id': button.id, 'callback': app.request.uri|callback }) }}"
                            {% elseif button.slug is defined and button.slug %}
                                {{ dataHref ?? 'href' }}="{{ path(button.route, { 'slug': button.parameter.slug, 'callback': app.request.uri|callback }) }}"
                            {% else %}
                                {{ dataHref ?? 'href' }}="{{ path(button.route) }}"
                            {% endif %}
                        {% endif %}
                        class="{{ button.class ?? 'btn btn-primary' }}"
                        {# TOOLTIPS AND TOGGLES DO NOT WORK TOGETHER #}
                        {% if button.toggle is defined and button.toggle %}
                            data-toggle="{{ button.toggle }}"
                            {% if button.target is defined and button.target %}
                                data-target="{{ button.target }}"
                            {% endif %}
                        {% elseif button.tooltip is defined and button.tooltip %}
                            data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ button.tooltip }}"
                        {% endif %}
                        role="button"
                        >
                        {% if button.icon is defined and button.icon %}
                            <span class="{{ button.icon }}"></span>
                        {% endif %}
                        {% if button.label is defined and button.label %}
                            <span{% if button.icon is defined and button.icon %} class="hidden-xs"{% endif %}>{{ button.label|trans }}</span>
                        {% endif %}
                        </a>
                        {% if button.toggle is defined and button.toggle and button.tooltip is defined and button.tooltip %}
                            </span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}
